body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Login Page ************************/
.Login {
  width: 65%;
  margin: auto;
  padding: 10px;
}


.Login input {
  display: block;
}

/* Home Page ******************/
.Home {
  width: 65%;
  margin: auto;
  padding: 10px;
}

/* Create Post *****************/
.CreatePost {
  margin-bottom: 20px;
  margin-top: 10px;
}

.CreatePost textarea {
  resize: none;
  padding: 5px;
  width: 80%;
  height: 200px;
}

.CreatePost input[type=submit] {
  width: 10%;
  background-color: rgb(84, 107, 207);
  color: white;
  border: none;
  border-radius: 10px;
}

/* Post ***************************/
.PostItem {
  width: 60%;
  min-height: 100px;
  background-color: aliceblue;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.PostUser {
  margin-bottom: 5px;
  font-weight: bold;
}
